@font-face {
    font-family: pokefont;
    src: url('museo_slab_500-webfont.ttf');
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vh;
	min-height:80px;
	background-color:#d0e75b;
}

html{
	position: relative;
	min-height: 100%;
	overflow:hidden;
	
}
body{
	
	height:100%;
	width:100%;
	background-color:#E5F5F9;
}

.container{
	max-width:1024px;
}


.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.moreinfo{
	text-align:right;
}
.battle_text{
	padding-top:20%;
	width:30%;
	text-align:center;
	margin:0 auto;
	
	
}
.battle_text p{
	color:#FFD4C3;
	background:#b32e00;
	display:block;
	height:auto;
	width:100%;
	border: solid 5px #7B000D;
	box-shadow: inset  5px 5px 0 0 #5A0500, inset  -5px -5px 0 0 #991314;
	padding:1em;
	font-size:1.5vw;
	font-family: pokefont !important;
	text-shadow: -2px -2px 0 #571001;
	
}

#other_poke .pokemon_card{
}

#my_pokemon{
}

.move_name{
	text-align:left;
	font-family: pokefont !important;
	padding-top:0.5em;
	padding-left:0;
}
.poke_name{
	font-weight:700;
	text-transform:uppercase;
	font-family: pokefont !important;
	text-shadow: -1px -1px 0 #052B03;
	font-size:1.2em;
	color:#3DBC1B;
}

.pokemon_img{
	overflow:hidden;
	text-align:center;
	height:40%;
	margin: 1em 0
}


.pokemon_card{
	height:450px;
	min-height:20%;
	overflow:hidden;
	padding:1em;
	margin-top:10%;
	border-radius:3px;
	box-shadow:0 0 5px #333;
	background:URL("http://paper-backgrounds.com/textureimages/2012/07/old-white-seamless-paper-texture-500x500.jpg");
	border: solid 4px #FCCF10;
}


.poke_control .btn{
	border-radius:0;
	font-style:400;
	
	background-color:#0B76D0;;
	color:#AED6DF;
	text-shadow: -1px -1px 0 #001F58;
	margin-bottom:0.5em;
	font-family: pokefont !important;
}
.poke_control .btn:hover{
	box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}
.poke_control .btn:active{
	box-shadow:inset 0px 0px 3px rgba(0,0,0,0.6);
}

.cardfoot{
	bottom:0;
	font-family: pokefont !important;
	height:40px;
	font-size:1.5em;
	width:100%;
}
.progress{
	border-radius:0;
	background-color:rgba(255,0,0,0.3);
	margin:0;
	
}


.progress-bar{
	background-color:rgba(255,0,0,1);
}
.btn-group{
	width:100%;
}

.layer{
	width:100%;
}
.pra{
	width:100%;
	margin:0 auto;
}

.stats{
	font-size:0.8vw;
}

/*animation here*/
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    -ms-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce ;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  animation:bounce  1s infinite;
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    -ms-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    -ms-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation: bounceInLeft 1s infinite;
}

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    -ms-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    -ms-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation: bounceInRight 1s infinite;
}